include includes/myvariables
html
	head
		include includes/styles.pug
	body
		div
			h2 testing
		div.second-div
			p#paragraph(style="color: blue;")
				| ceci est un paragraphe
				|
				.
					tous ça est aussin un paragraph
			// commentaie 
			//- hide comment
				multi line comment
			// first line 
				second line 
				this is multi line comments
			div
				- var className = "font"
				div(class='the name is '+className+' '+className2)
				//- this var is by javascript
		p this is text1 
			strong bold
		p this is text2 <strong>bold</strong>
		p= 'this is text3 <strong>bold</strong>'

		div this is another div
		//- this is for loop
		ul
			-for (var i = 0; i <10; i++) 
				li item number #{i}
		//- this is while loop

		- var z = 0
		ul
			while z < 10
				li= z++

		// each val in [1,2,3,4,'five',6]
			div= val
		each val, index in [1,2,3,4,'five',6]
			div= 'index '+index+ ' : 
			his value is ' +val

			